.layout {
  min-height: calc(100dvh - var(--header-height) - (2 * var(--stack-padding-normal)));
}

.metric {
  font: var(--text-codeInline-shorthand);
  white-space: nowrap;
}

.change {
  display: inline-block;
  min-width: 8ch;
  color: var(--fgColor-muted);
  text-align: right;
}
